.ant-menu {
	background: transparent !important;
}

.bg-primary-gradient {
  background: #DCF763;
  background: -webkit-linear-gradient(to top, #EEF8A6, #DCF763);
  background: linear-gradient(to top, #EEF8A6, #DCF763);
}